*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ini text eol=crlf
*.uproject text eol=crlf
*.uplugin text eol=crlf
*.ps1 text eol=crlf
*.modules text eol=crlf
*.target text eol=crlf

*.dll binary
*.pdb binary
*.uasset binary
*.umap binary
*.ubulk binary
*.uexp binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
